<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <main class="container {% if site.color_scheme %}{{ site.color_scheme }}{% else %}avocado{% endif %}">
      {% if page.title == "Home" %}
      <header class="fadeInLeft animated">
      {% else %}
      <header>
      {% endif %}
        <div>
          <a href="{{ site.url }}" id="logo" title="{{ site.title }}"
             style="background-image: url({{ '/assets/images/logo.png' | relative_url }});"></a>
        </div>

        {% include navigation.html %}
      </header>

      {{ content }}

      <footer>
        <p>
          与我联系：1755081919@qq.com
        </p>
      </footer>
    </main>

    <!-- scripts -->
    <script src="{{ '/assets/js/fluidvids.min.js' | relative_url }}"></script>
    <script>
      fluidvids.init({
        selector: ['iframe', 'object'],
        players: ['www.youtube.com', 'player.vimeo.com']
      });
    </script>
  </body>
</html>
